{% extends 'layouts/main.html' %}

{% block content %}
<header class="site-header jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Ssearch</h1>
				<br>
				
				<form class="" role="search">
					<div class="form-group">
						<input type="text" class="form-control search clearable" placeholder="搜不到？我们聊聊！"> <i class="fa fa-search"></i>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>
<div class="mostused-packages well well-sm text-center hidden-xs hidden-sm">
	<ul class="list-inline">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<main class="packages-list-container" id="all-packages">
	<div class="container">
		<div class="list-group packages">
			<a href="/bootstrap/" class="package list-group-item" data-library-name="bootstrap" target="_blank" onclick="_hmt.push(['_trackEvent', 'packages', 'click', 'bootstrap'])">
				<div class="row">
					<div class="col-md-3">
						<h4 class="package-name">bootstrap</h4>
					</div>
					<div class="col-md-9 hidden-xs">
						<p class="package-description">
							The most popular front-end framework for developing responsive, mobile first projects on the web.
						</p>
					</div>
					<div class="package-extra-info col-md-9 col-md-offset-3 col-xs-12">
						<span> <i class="fa fa-star"></i>
							92793
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</main>
{% endblock %}